.header {
   padding: 45px 0 0;
   margin: 0 auto;
   max-width: 880px;
   width: 100%;
   box-sizing: border-box;
}

@media screen and (max-width:918px) {
   .header {
      padding-left: 19px;
      padding-right: 129px;
   }
}

@media screen and (max-width:486px) {
   .header {
      padding-top: 28px;
      padding-left: 0;
      padding-right: 0;
   }
}